* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.header,
.footer {
  height: 200px;
  background-color: blueviolet;
}

.header {
  margin-bottom: 50px;
}

.header:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>")
      16 0,
    auto;
}

.footer {
  margin-top: 50px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.hornedbeast {
  /* width: auto; */
  max-width: 300px;
  overflow: hidden;
  padding: 20px 50px 200px 50px;
  height: 250px;
  margin-bottom: 20px;
  flex: 1 1 300px;
}

.hornedbeast:hover {
  /* width: auto; */
  max-width: 300px;
  overflow: visible;
  padding: 20px 50px;
  height: auto;
  min-height: 250px;
  background-color: beige;
  color: black;
  border-radius: 10%;
}

#heart {
  cursor: pointer;
  font-size: 200%;
}

.spin {
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
