* {
  box-sizing: border-box;
}
.grid {
  border: 2px solid green;
  display: flex;
}

.row {
  border: 2px solid fuchsia;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  margin: 0px auto;
}
